* {
  box-sizing: border-box;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  height: 1366px;
}

.clear {
  clear : left;
}

.container {
  max-width: 1170px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 600px 0 350px 0;
  background-size: cover;
  color: black;
  text-align: center;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #1b252f;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  padding: 10px 0;
}

.header-left {
  float: left;
}

.header-left h1 {
  color: #dedede;
}

.menubar {
  float: right;
  margin: 13px 0;
}

.menu {
  background-color: rgba(255,255,255,0.2);
  width: 40px;
  height: 40px;
  display: none;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.hamburger {
  color: white;
  float: right;
  padding: 15px 0;
  display: none;
}

body{
  width:100%;
  
}

main {
  padding: 80px 60px;
  background-image: url(https://www.theweddingsecret.co.uk/magazine/wp-content/uploads/videography-feature-image.jpg);
  background-size: cover;
  color: white;
  height: 100%;
  text-align: left;
}

.container-main {
  max-width: 100%;
  padding: 0px 15px 30px 15px;
  margin: 0 auto;
  text-shadow:0px 5px 6px #000000;
  text-align: center;
  height:300px;
}

.container-main h1 {
  font-family: Georgia, serif;
  font-size: 56px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.container-main p {
  font-family: "Segoe UI",Arial,sans-serif;
  font-size:24px;
  opacity: 0.7;
}

.service-wrapper {
  width: 100%;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow:  0 0 10px #000, 0 0 5px #000;
}

.containerz {
  width: 100%;
  margin: 0 auto;
}

.service {
 padding: 20px;
 
}

.services {
 display: grid;
 grid-template-columns: auto auto auto;
 grid-template-rows: auto auto auto;
}



.service-icon {
  width: 100%;
  height: 850px;
  padding: 10px 20px 40px 20px;
  margin:0 auto;
  background-color:rgba(255, 51, 0,0.15);
  border-radius: 25px;
  box-shadow: 0px 6px 4px #000;
  justify-self: center;
  display: grid;
  grid-template-rows: 35% 8% 53% 25%;
}

.service-icon img {
  width: 100%;
  margin: 5px auto 15px auto;
  border-radius: 25px;
  box-shadow: 0 0 10px #000, 0 0 5px #000; 
}

.service-icon p {
  color: white;
  text-shadow:  0 0 10px #000, 0 0 5px #000;
  text-align: justify;
  text-justify: inter-word;
}

.service-icon span {
  margin-top:30px;
}

.txt-title {
  font-family: "Segoe UI",Arial,sans-serif;
  font-style: italic;
  font-size: 20px;
}

.txt-contents {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: #b3aeb5;
}


.messages {
  justify-self:center;
}

.message {
  justify-self:center;
  font-family: "Segoe UI",Arial,sans-serif;
  color: white;
  font-size: 16px;
  padding: 12px 8px;
  border-radius: 15px;
  background-color: #5dca88; 
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  background-color: #1b252f;
  height: 200px;
}

.form_text {
  text-align: left;
  color: #fff;
  font-size: 14px;
  padding-left: 20px;
}

.form_text h2 {
  padding-bottom: 15px;
}

.find-us {
  text-align: center;
  padding-top: 40px;
}

.judul-find-us {
  font-size: 30px;
  color: white;
  font-family: "Arial";
}

.btn-find-us {
  margin-top: 25px;
}

.btn-ig {
  margin-right: 10px;
  padding: 8px;
  color: white;
  font-family: "Arial";
}

.btn-facebook {
  margin-right: 10px;
  padding: 8px;
  color: white;
  font-family: "Arial";
}

.btn-youtube {
  margin-right: 10px;
  padding: 8px;
  color: white;
  font-family: "Arial";
}

.copyright {
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 30px 0;
}

.copyright p {
  font-family: "Arial"
}

